extends ../layouts/public

block content
  .wrapper.workshop#w01
    .container: .root
      
      //  HEADLINE 1
      //      .headline-1
      //        .h1.s07 #{workshop01.s0701}
      
      
      //  HEADLINE 2
      .headline-2
        .h1.s01 #{workshop01.s01}
        .h1.s02 #{workshop01.s02}
        .h1.s03 #{workshop01.s03}
        .h1.s04 #{workshop01.s04}
        .h1.s05 #{workshop01.s05}
        .h1.s06 #{workshop01.s06}
        
        //        .h1.s07 #{workshop01.s0702}
      
      
      //  SUB
      //      .sub
      //        .s07 #{workshop01.s0703}