extends ../layouts/public

block title
  title #{workshop05.title}

block content
  .wrap.workshop#workshop05(data-slide="slide-first"): .container: .root
    
    //  TITLE1
    #title1
      each x in workshop05.title1
        .h1(class="slide-"+x.slide) #{x.text}
    
    //  TITLE2
    #title2
      each x in workshop05.title2
        .h1(class="slide-"+x.slide) #{x.text}
    
    //  HEADING1
    #heading1
      each x in workshop05.heading1
        .h2(class="slide-"+x.slide) #{x.text}
    
    //  HEADING2
    #heading2
      each x in workshop05.heading2
        .h2(class="slide-"+x.slide) #{x.text}
    
    //  SUBTITLE
    #subtitle
      each x in workshop05.subtitle
        p(class="slide-"+x.slide) #{x.text}
    
    //  IMAGES
    #images
      each x in workshop05.images
        img(class="slide-"+x.slide, src="includes/images/workshop05/"+x.source+".png")
    
    //  REACTIONS
    //    #reactions
    //      svg(version="1.1", viewBox="0 0 168 168")
    //        path#mouth(d="M63,96c-11.6-20-46.1-22-40,0")
    //          animate(attributeName="d", from="M63,96c-11.6-20-46.1-22-40,0",
    //                  to="M63,96c-11.6-20-46.1-22-40,0", dur="300ms", fill="freeze")
    //        circle#lEye(cx="21", cy="76", r="1")
    //        circle#rEye(cx="34", cy="72", r="1")
    
    //  NORMAL1
    #normal1
      each x in workshop05.normal1
        p(class="slide-"+x.slide) #{x.text}
    
    //  NORMAL2
    #normal2
      each x in workshop05.normal2
        p(class="slide-"+x.slide) #{x.text}